<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="roomPage (loggedUser)">
<head th:replace="fragments/head :: head (${all_blocks.getRoomReference().getRoomNumber()})">
    Head from fragment
</head>
<body>
<div th:replace="fragments/topnav :: navbar">
    Menu
</div>
<div class="my-container center-class">
    <div class="row form-style" th:object="${all_blocks}">
        <h2 class="mb-4" th:text="*{roomReference.getRoomNumber()}"></h2>
        <form autocomplete="off" class="form-rooms mt-4">
            <div class="form-group room-diagram">
                <div th:replace="fragments/room_schema :: roomSchema(${all_blocks.getRoomReference()}, ${all_blocks.getIsSeatList()})">
                    <!-- Room schema -->
                </div>
            </div>
        </form>
        <div th:class="desk"></div>
        <div>
            <table class="my-table-room">
                <tr><td class="row-number institute-color"></td><td class="text-left">Katedra</td></tr>
                <tr><td class="row-number corridor-color"></td><td class="text-left">Ulička</td></tr>
                <tr><td class="row-number seat-color"></td><td class="text-left">Sedadlo</td></tr>
            </table>
        </div>
        <div th:if="${loggedUser}">
            <div class="right-float" th:if="*{roomReference.getRoomCreator().getEmail() == #authentication.name}">
                <a class="btn btn-primary btn-block edit-room-form-cell"
                   th:href="@{/logged/rooms/{id}/edit(id=*{roomReference.getRoomNumber()})}">Editovat</a>
                <a class="btn btn-danger btn-block edit-room-form-cell"
                   th:href="@{/logged/rooms/{id}/delete(id=*{roomReference.getRoomNumber()})}">Smazat</a>
            </div>
            <div class="text-left font-weight-bold">
                <span>Vytvořil: </span>
                <span th:text="*{roomReference.getRoomCreator().getDegreesBeforeName() != null} ? *{roomReference.getRoomCreator().getDegreesBeforeName()}"></span>
                <span th:text="${all_blocks.getRoomReference().getRoomCreator().getFirstName()} + ' ' + ${all_blocks.getRoomReference().getRoomCreator().getLastName()}"></span>
                <span th:text="*{roomReference.getRoomCreator().getDegreesBehindName() != null} ? *{roomReference.getRoomCreator().getDegreesBehindName()}"></span>
            </div>
        </div>
    </div>
</div>
</body>
</html>
