<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (${'Zkoušky'})">
    Head from fragment
</head>
<body>
<div th:replace="fragments/topnav :: navbar">
    Menu
</div>

<div class="container list-style">
    <div style="text-align: center; margin-bottom: 50px;">
        <span class="font-weight-bold">Zadejte login: </span>
        <input type="text" name="searchLogin" class="w-75 mb-1">
        <button class="btn btn-primary btn-search-login" type="submit">Vyhledat</button>
    </div>
    <div class="card exams-card">
        <a class="a-style">
            <div class="card-header exams-card-header">TODO head</div>
            <div class="card-body">
                TODO body
            </div>
        </a>
    </div>
</div>
</body>
</html>
