<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (${'Zkoušky'})">
    Head from fragment
</head>
<body>
<div th:replace="fragments/topnav :: navbar">
    Menu
</div>

<div class="container list-style">
    <form autocomplete="off" class="text-center mb-5" method="post" role="form"
          th:action="@{/exams}">
        <span class="font-weight-bold">Zadejte login: </span>
        <input type="text" name="login" class="w-75 mb-1 rounded-pill">
        <button class="btn btn-primary btn-search-login" type="submit">Vyhledat</button>
    </form>
    <div class="card exams-card" th:each="dto : ${listOfExamsDto}">
        <a class="a-style" th:href="@{/exams/{id}(id=${dto.exam.idExam})}">
            <div>
                <div class="card-header exams-card-header" th:text="${dto.exam.academicYear} + ' - ' + ${dto.exam.examName}"></div>
                <div class="card-body" th:each="examRun : ${dto.list}">
                    <div class="font-weight-bold" th:text="${examRun.getRoomReference().getRoomNumber()}"></div>
                    <div class="font-weight-bold" th:text="${examRun.examDate} + ': ' + ${examRun.startTime} + ' - ' + ${examRun.endTime}"></div>

                </div>
            </div>
        </a>
    </div>
</div>
</body>
</html>
