<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UserHomepage</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div th:include="fragments/topnav :: navbar" >
</div>

Rooms for normal user

<table>
    <tr th:each="room : ${rooms}">
        <td th:text="${room.id}">1</td>
        <td th:text="${room.numberOfRow}">1</td>
        <td th:text="${room.numberofColumn}">1</td>
    </tr>
</table>
</body>
</html>
