<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (${'Místnosti'})">
    Head from fragment
</head>
<body>
<div th:replace="fragments/topnav :: navbar">
    Menu
</div>

<div class="container list-style">
    <div class="card rooms-card" th:each="roomHolder : ${roomHolders}">
        <a class="a-style" th:href="@{/rooms/{id}(id=${roomHolder.room.roomNumber})}">
            <div class="card-header rooms-card-header" th:text="${roomHolder.room.roomNumber}"></div>
            <div class="card-body">
                <span>Počet míst: </span>
                <span th:text="${roomHolder.numberOfSeats}"></span>
            </div>
        </a>
    </div>
    <div th:if="${roomHolders.isEmpty()}">
        <div class="alert alert-info new-room-form-success-message">
            <span>Nebyla nalezena žádná místnost</span>
        </div>
    </div>
</div>
</body>
</html>
