<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (${'Místnosti'})">
    Head from fragment
</head>
<body>
<div th:include="fragments/topnav :: navbar">
</div>

<div style="margin-top: 100px"></div>
<div class="container">
    <div class="card rooms-card" th:each="roomHolder : ${roomHolders}">
        <a class="a-style" th:href="@{/rooms/{id}(id=${roomHolder.room.roomNumber})}">
            <div class="card-header rooms-card-header" th:text="${roomHolder.room.roomNumber}"></div>
            <div class="card-body">
                <span>Počet míst: </span>
                <span th:text="${roomHolder.numberOfSeats}"></span>
            </div>
        </a>
    </div>
</div>
</body>
</html>
