<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (${'Rozsazení na zkoušce'})">
    Head from fragment
</head>
<body>
<div th:replace="fragments/topnav :: navbar">
    Menu
</div>
<div class="my-container center-class">
    <div class="row form-style" th:object="${exam_dto}">
        <h2 class="mb-4"
            th:text="${exam_dto.exam.getAcademicYear()} + ': ' + ${exam_dto.exam.getSubject()} + ' - ' + ${exam_dto.exam.getExamName()}"></h2>
        <div th:each="exam_run : *{examRuns}">
            <p th:text="${exam_run.date} + ' ' + ${exam_run.startTime} + ' - ' + ${exam_run.endTime}"></p>
            <form autocomplete="off" class="form-rooms mt-4">
                <div class="form-group room-diagram">
                    <div th:with="room=${exam_run.blocks.getRoomReference()}, isSeatList=${exam_run.blocks.getIsSeatList()}">
                        <div th:each="i: ${#numbers.sequence(0, room.getNumberOfRows() - 1)}">
                            <label class="row-number" th:text="${room.getNumberOfRows() - i}"></label>
                            <div class="block-btn-wrapper"
                                 th:each="j: ${#numbers.sequence(0, room.getNumberOfColumns() - 1)}">
<!--                                <span th:class="tooltiptext"-->
<!--                                      th:text="${exam_run.seating[__${i}__][__${j}__].studentReference != null}? ${exam_run.seating[__${i}__][__${j}__].studentReference.login}"></span>-->
                                <input disabled
                                       th:checked="${isSeatList[__${i}__][__${j}__]}"
                                       th:id="${room.getNumberOfRows() - i} + '_' + ${j + 1}"
                                       type="checkbox"/>
                                <label th:for="${room.getNumberOfRows() - i} + '_' + ${j + 1}">
                                    <span th:text="${exam_run.seating[__${i}__][__${j}__].getBlockNumber()}">&nbsp;</span>
                                </label>
                            </div>
                        </div>
                        <script>
                            var inputs = document.getElementsByTagName("input");
                            for (var x = 0; x < inputs.length; x++) {
                                var name = inputs[x].getAttribute("name");
                                if (name.indexOf("_isSeatList") === 0) {
                                    inputs[x].parentNode.removeChild(inputs[x]);
                                }
                            }
                        </script>
                    </div>
                </div>
            </form>
            <div th:class="desk"></div>
            <div>
                <table class="my-table-room">
                    <tr><td class="row-number institute-color"></td><td class="text-left">Katedra</td></tr>
                    <tr><td class="row-number corridor-color"></td><td class="text-left">Ulička</td></tr>
                    <tr><td class="row-number seat-color"></td><td class="text-left">Sedadlo</td></tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
