body {
    background-color: #ededed;
}

.center-class {
    text-align: center;
}

.registration-form {
    display: inline-block;
    margin-top: 100px;
    background-color: #fff;
    border: solid 1px #ddd;
    padding: 20px 50px 30px 50px;
    border-radius: 10px;
}
.form-signin-heading {
    margin-bottom: 30px;
}
