body {
    background-color: #ededed;
}

.center-class {
    text-align: center;
}

.form-style {
    display: inline-block;
    margin-top: 150px;
    margin-bottom: 25px;
    background-color: #fff;
    border: solid 1px #ddd;
    padding: 20px 50px 30px 50px;
    border-radius: 10px;
}

.form-signin-heading {
    margin-bottom: 30px;
    text-align: center;
}

.update-placeholder ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey;
    opacity: 60%; /* Firefox */
}

.update-placeholder :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: grey;
    opacity: 60%;
}

.update-placeholder ::-ms-input-placeholder { /* Microsoft Edge */
    color: grey;
    opacity: 60%;
}

.room-diagram {
    user-select: none;
    white-space: nowrap;
}

.block-btn-wrapper {
    display: inline-block;
    font-size: 14px;
}

.row-number {
    width: 25px;
    height: 25px;
    margin-bottom: 12px;
    border-radius: 0.25rem;
}

.block-btn-wrapper input[type="checkbox"] {
    display: none;
}

.block-btn-wrapper input[type="checkbox"] + label {
    margin: 0;
    user-select: none;
}

.block-btn-wrapper input[type="checkbox"] + label span {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: -1px;
    margin-right: -1px;
    background: #F2F2F2;
    border-radius: 0.25rem;
    cursor: pointer;
}

.block-btn-wrapper input[type="checkbox"] + label span:hover {
    background: #E5E5E5;
}

.block-btn-wrapper input[type="checkbox"]:checked + label span {
    background: darkgray;
}

.block-btn-wrapper input[type="checkbox"]:checked + label span:hover {
    background: #8E8E8E;
}

.my-container {
    min-width: 650px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    text-align: center;
}

.form-group {
    text-align: center;
}

.room-form-cell {
    max-width: 650px;
    margin: auto auto 20px;
    text-align: left;
}

.edit-room-form-cell {
    max-width: 650px;
    margin: auto auto 20px;
}

.new-room-form-success-message {
    max-width: 650px;
    margin: auto auto 20px;
    text-align: center;
}

.form-rooms {
    min-width: 650px;
}

.fixed-nav {
    width: 100%;
    position: fixed;
}

.rooms-card {
    margin-bottom: 20px;
    border-color: #a5a5a5;
}

.rooms-card-header {
    background: #d5d5d5;
    font-weight: bold;
}

.btn-new-room {
    text-align: center;
    margin-bottom: 50px;
}

.btn-new-room > a {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.right-float {
    float: right;
    color: white;
}

.right-float > a {
    display: inline;
}

.error-msg {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn-rooms-z-index {
    z-index: 1;
}

.a-style, .a-style:hover {
    text-decoration: none; !important;
    color: black; !important;
}

.institute-color {
    background-color: orange;
}

.corridor-color {
    background-color: #F2F2F2;
}

.seat-color {
    background-color: #A9A9A9;
}

.my-table-room {
    border-collapse: separate;
    border-spacing: 10px;
}

.desk {
    display: inline-block;
    width: 80px;
    height: 25px;
    background: #FFA500;
    border-radius: 0.25rem;
    margin-left: 28px;
}