<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (${'Chyba'})">
    Head from fragment
</head>
<body>
<div th:replace="fragments/topnav :: navbar">
    Menu
</div>
<div class="error-msg">
    <div class="col-sm-4 form-group form-style">
        <div class="alert alert-danger text-center" th:if="${message != null}">
            <span th:utext="${message}"></span>
        </div>
        <div>
            <a class="btn btn-primary btn-block" th:href="@{/logged/exams}">Zpět na hlavní stranu</a>
        </div>
    </div>
</div>
</body>
</html>
