<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (${'Zkoušky'})">
    Head from fragment
</head>
<body>
<div th:replace="fragments/topnav :: navbar">
    Menu
</div>
<div class="container">
    <div style="margin-top: 100px"></div>
    <div class="btn-new-exam">
        <a class="btn btn-success col-lg-4" th:href="@{/logged/exams/new_exam_1}">Vytvořit novou zkoušku</a>
    </div>
</div>
</body>
</html>
