<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vytvořit novou zkoušku</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../static/css/index.css" th:href="@{/css/index.css}" type="text/css">
</head>
<body>
    <div class="fixed-nav">
        <div th:include="fragments/topnav :: navbar"></div>
    </div>
    <div class="my-container center-class">
        <div class="row form-style">
            <form  class="form-rooms" id="new_exam" autocomplete="off" th:action="@{/logged/exams/new_exam_file}" method="post" enctype="multipart/form-data">
                <h3 class="form-signin-heading">Vytvoření nové zkoušky</h3>
                <div class="form-group room-form-cell">
                    <label>Vyberte csv soubor se studenty:</label>
                    <div class="update-placeholder">
                        <input type="file" name="file" class="form-control"/>
                    </div>
                </div>
                <div class="form-group room-form-cell">
                    <label>Způsob rozsazení:</label>
                    <select name="seating" form="new_exam">
                        <option value="no_space">Vedle sebe</option>
                        <option value="one_space">Ob jednoho</option>
                        <option value="two_space">Ob dva</option>
                    </select>
                </div>

                <div class="form-group room-form-cell">
                    <label>Pozice loginu studenta na řádku v souboru:</label>
                    <div class="update-placeholder">
                        <input name="login_position" type="number" value="1" class="form-control"/>
                    </div>
                </div>
                <div class="form-group room-form-cell">
                    <label>Pozice jména studenta na řádku v souboru:</label>
                    <div class="update-placeholder">
                        <input name="name_position" type="number" value="2" class="form-control"/>
                    </div>
                </div>
                <div class="form-group room-form-cell">
                        <button class="btn btn-success btn-block" type="submit">Uložit zkoušku</button>
                </div>
                <div class="form-group room-form-cell">
                    <a class="btn btn-danger btn-block" th:href="@{/logged/exams}">Zrušit</a>
                </div>
                <div class="col-sm-12 alert alert-danger" th:if="${message != null}">
                    <span th:utext="${message}"></span>
                </div>
            </form>
        </div>

    </div>
</body>
</html>
