<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (${'Vytvořit novou zkoušku'})">
    Head from fragment
</head>
<body>
    <div class="fixed-nav">
        <div th:include="fragments/topnav :: navbar"></div>
    </div>
    <div class="my-container center-class">
        <div class="row form-style">
            <form class="form-rooms" id="new_exam" autocomplete="off" th:action="@{/logged/exams/new_exam_1}"
                   th:object="${formValues}" method="post" enctype="multipart/form-data">
                <h3 class="form-signin-heading">Vytvoření nové zkoušky</h3>
                <div class="form-group room-form-cell">
                    <label>Vyberte csv soubor se studenty:</label>
                    <div class="update-placeholder">
                        <input type="file" th:field="*{file}" class="form-control"/>
                    </div>
                </div>
                <div class="form-group room-form-cell">
                    <label>Pozice loginu studenta na řádku v souboru:</label>
                    <div class="update-placeholder">
                        <input type="number" th:field="*{loginPosition}" class="form-control"/>
                    </div>
                </div>
                <div class="form-group room-form-cell">
                    <label>Pozice jména studenta na řádku v souboru:</label>
                    <div class="update-placeholder">
                        <input type="number" th:field="*{namePosition}" class="form-control"/>
                    </div>
                </div>

                <div class="form-group room-form-cell">
                    <label>Způsob rozsazení:</label>
                    <select form="new_exam" th:field="*{spacing}">
                        <option th:value="no_space">Vedle sebe</option>
                        <option th:value="one_space">Ob jednoho</option>
                        <option th:value="two_space">Ob dva</option>
                    </select>
                </div>

                <div class="form-group room-form-cell">
                        <button class="btn btn-success btn-block" type="submit">Pokračovat k vytváření termínů</button>
                </div>
                <div class="form-group room-form-cell">
                    <a class="btn btn-danger btn-block" th:href="@{/logged/exams}">Zrušit</a>
                </div>
                <div class="col-sm-12 alert alert-danger" th:if="${message != null}">
                    <span th:utext="${message}"></span>
                </div>
            </form>
        </div>

    </div>
</body>
</html>
