<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${all_blocks.getRoomReference().getRoomNumber()}"></title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="../../static/css/index.css" rel="stylesheet" th:href="@{/css/index.css}" type="text/css">
</head>
<div class="fixed-nav">
    <div th:include="fragments/topnav :: navbar"></div>
</div>
<div class="my-container center-class">
    <div class="row form-style" th:object="${all_blocks}">
        <h2 class="card-header rooms-card-header mb-5" th:text="*{roomReference.getRoomNumber()}"></h2>
        <form autocomplete="off" class="form-rooms mt-5">
            <div class="form-group room-diagram">
                <div>
                    <div th:each="i: ${#numbers.sequence(0, all_blocks.getRoomReference().getNumberOfRows() - 1)}">
                        <label class="row-number"
                               th:text="${all_blocks.getRoomReference().getNumberOfRows() - i}"></label>
                        <div class="block-btn-wrapper"
                             th:each="j: ${#numbers.sequence(0, all_blocks.getRoomReference().getNumberOfColumns() - 1)}">
                            <input th:attrappend="disabled=${all_blocks.getRoomReference().getRoomCreator().getEmail() != #authentication.name}?disabled"
                                   th:checked="*{isSeatList[__${i}__][__${j}__]}"
                                   th:field="*{isSeatList[__${i}__][__${j}__]}"
                                   th:id="${all_blocks.getRoomReference().getNumberOfRows() - i} + '_' + ${j + 1}"
                                   type="checkbox"/>
                            <label th:for="${all_blocks.getRoomReference().getNumberOfRows() - i} + '_' + ${j + 1}">
                                <span>&nbsp;</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                var inputs = document.getElementsByTagName("input");
                for (var x = 0; x < inputs.length; x++) {
                    var name = inputs[x].getAttribute("name");
                    if (name.indexOf("_isSeatList") === 0) {
                        inputs[x].parentNode.removeChild(inputs[x]);
                    }
                }
            </script>
        </form>
        <div>
            <span>Vytvořil: </span>
            <span th:text="*{roomReference.getRoomCreator().getDegreesBeforeName() != null} ? *{roomReference.getRoomCreator().getDegreesBeforeName()}"></span>
            <span th:text="${all_blocks.getRoomReference().getRoomCreator().getFirstName()} + ' ' + ${all_blocks.getRoomReference().getRoomCreator().getLastName()}"></span>
            <span th:text="*{roomReference.getRoomCreator().getDegreesBehindName() != null} ? *{roomReference.getRoomCreator().getDegreesBehindName()}"></span>
        </div>
        <div th:if="*{roomReference.getRoomCreator().getEmail() == #authentication.name}">
            <a class="btn btn-primary btn-block edit-room-form-cell" th:href="@{/logged/rooms/{id}/edit(id=*{roomReference.getRoomNumber()})}">Editovat</a>
            <a class="btn btn-danger btn-block edit-room-form-cell" th:href="@{/logged/rooms/{id}/delete(id=*{roomReference.getRoomNumber()})}">Smazat</a>
        </div>
    </div>
</div>
</body>
</html>
