<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UserHomepage</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/index.css" th:href="@{css/index.css}" type="text/css">
</head>
<body>
<div th:include="fragments/topnav :: navbar" >
</div>

Rooms for logged user
<table>
    <tr th:each="room : ${rooms}">
        <td th:text="${room.roomNumber}">1</td>
        <td th:text="${room.numberOfColumns}">1</td>
        <td th:text="${room.numberOfRows}">1</td>
    </tr>
</table>
</body>
</html>
